// Define variables for your color scheme

// For example:
$red: #AB222D;
$blue: #0D6EFD;
$yellow: #e09e36;
$orange: #E67E22;
$green: #63ae6e;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom colors
$sets-blue: #003049;
$sets-red: #AB222D;
$sets-white: #F8F5F2;
$sets-lt-blue: #96AEB1;
$sets-accent: #CF7649;
$sets-off-white: #F4F4F4;
