<div class="container p-3">
  <h1>Stack</h1>
  <div class="dash-cards">
    <% if @stack_albums.empty? %>
      <p>Nothing in your Stack yet...</p>
    <% else %>
      <% @stack_albums.each do |stack_album| %>
        <%= render 'shared/stack_album_card', stack_album: stack_album %>
      <% end %>
    <% end %>
  </div>
</div>
