<div class="container mt-3" id="setindexcontainer">
  <div class="text-center">
    <h1>My Sets</h1>
  </div>
  <div class="sets-cards">
    <% if @setlists.empty? %>
      <div class="container text-center">
        <p>No sets created yet...</p>
      </div>
    <% else %>
      <% @setlists.each do |setlist| %>
        <%= render 'shared/setlist_card', setlist: setlist %>
      <% end %>
    <% end %>
  </div>
    <%= link_to 'Create new Setlist', new_setlist_path, class: "btn btn-success mt-3" %>

</div>
