<div class="sets-cards">
  <% if @setlists.empty? %>
    <div class="container text-center">
      <p>No sets created yet...</p>
      <%= link_to 'Create new Setlist', new_setlist_path, class: "btn btn-primary" %>
    </div>
  <% else %>
    <% @setlists.each do |setlist| %>
      <%= render 'shared/setlist_card', setlist: setlist %>
    <% end %>
  <% end %>
</div>
<div class="btncont">
<h5 class="newset"><%= link_to "Create a new Set...", new_setlist_path %></h5>
</div>
