<div class="container">
  <div class="m-3">
    <h1 class="text-center">LOCAL DJs</h1>
  </div>
  <div class="d-flex justify-content-center m-3"><%= link_to 'Following', following_path, class: 'btn btn-lg btn-outline-primary' %></div>

  <div class="user-cards">
    <% @users.each do |user| %>
      <% unless user.id == current_user.id %>
        <%= render 'shared/user_card', user: user %>
      <% end %>
    <% end %>
  </div>
</div>
