<div class="layout">
  <input name="user-nav" type="radio" class="nav home-radio" id="home" checked="checked" />
  <div class="page home-page" style="background-image: url(<%= asset_path 'line1.jpg' %>); background-size: cover; background-position: center;">
    <div class="page-contents mt-3">
      <%# <h1 class="text-center p-3" id="trendingdj">Trending DJ's</h1> %>
        <div class="user-cards">
          <% @users.each do |user| %>
            <% unless user.id == current_user.id %>
              <%= render 'shared/user_card', user: user %>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
  <label class="user-nav" for="home">
    <span>
      Trending
    </span>
  </label>

  <input name="user-nav" type="radio" class="about-radio" id="about" />
  <div class="page about-page" style="background-image: url(<%= asset_path 'line3.jpg' %>); background-size: cover; background-position: center;">
    <div class="page-contents mt-3">
      <%# <h1 class="text-center p-3 mt-0" id="followingdj">Following</h1> %>
      <div class="user-cards">
        <% @favorite_users.shuffle.each do |user| %>
          <% unless user.id == current_user.id %>
            <%= render 'shared/user_card', user: user %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <label class="user-nav" for="about">
    <span>
      Following
    </span>
    </label>
</div>
