<div class="card" id="album">
	<div class="card-img" id="album-img" style="background-image:url(<%= album[:cover_image_url] %>);">
		<div class="overlay">
			<div class="overlay-content">
				<a class="hover" href="#!">View Album</a>
			</div>
		</div>
	</div>

	<div class="card-content" id="album-content">
		<a href="#!">
			<h2> <%= album[:title] %> </h2>
      <small class="text-muted"> <%= album[:artist] %> </small>
			<p> <%= album[:year] %> , Vinyl</p>
		</a>
	</div>
</div>
<%#= javascript_pack_tag 'albumhover' %>
