<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/scallywag89/sets" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copy">
    This site was made with <i class="fas fa-heart"></i> by
    <a href="https://github.com/ambuhlily" target="_blank">Amber</a>,
    <a href="https://github.com/scallywag89" target="_blank">Bennett</a>,
    <a href="https://github.com/ninjacazaam" target="_blank">Corey</a>,
    and
    <a href="https://github.com/Jasperinabox" target="_blank">Jasper</a>.
  </div>
</div>
