<div class="container">
  <div class="from-stack overlay-content">
    <h5>From your Stack:</h5>
    <ul class="fa-ul">
      <% @albums_in_setlist_and_stack.each do |album| %>
        <li type="button" data-bs-toggle="modal" data-bs-target="#_<%= album[:id] %>"><span class="fa-li"><i class="fa-solid fa-record-vinyl"></i></span><%= album.title %> - <%= album.artist %></li>
        <%= render "shared/search_modal_setlist_show", album: album %>
      <% end %>
    </ul>
  </div>
</div>
