<div class="container">
  <div class="from-stack">
    <h2>From your Stack:</h2>
    <ul>
      <% @albums_in_setlist_and_stack.each do |album| %>
        <li><%= album.title %> - <%= album.artist %></li>
      <% end %>
    </ul>
  </div>
</div>
