<div class="container mt-2">
  <div class="not-from-stack">
    <h5>Missing from your Stack:</h5>
    <ul class="fa-ul">
      <% @albums_in_setlist_and_not_stack.each do |album| %>
        <li><span class="fa-li"><i class="fa-solid fa-record-vinyl"></i></span><%= album.title %> - <%= album.artist %></li>
      <% end %>
    </ul>
  </div>
</div>
