<div class="row mt-4 p-3">
  <%= simple_form_for :search, url: search_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <%= f.input :query, class: 'form-control string-required', input_html: {value: ""}, :label => false %>
      <%= f.submit "Search", class: 'btn btn-secondary' %>
    </div>
    <div class="form-check form-switch">
        <%= f.input :track,
        as: :boolean,
        label: 'Track only',
        input_html: {
          :checked => "unchecked",
          class: "form-check-input",
          id: "flexSwitchCheckDefault"
          }  %>
    </div>
  <% end %>

</div>
