<%= simple_form_for :search, url: search_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <%= f.input :query, class: 'form-control', input_html: {value: ""}, :label => false %>
    <div class="form-check form-switch">
      <%= f.input :track,
      as: :boolean,
      label: 'Track only',
      input_html: {
        :checked => "unchecked",
        class: "form-check-input",
        id: "flexSwitchCheckDefault"
        }  %>
    </div>
    <%= f.submit "Submit", class: 'btn btn-secondary'%>
  </div>
<% end %>



  <%# <div class="form-check form-switch"
      data-controller="searchbar">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
          data-action="click->searchbar#updateParam"
          data-searchbar-target="input">
    <label class="form-check-label" for="flexSwitchCheckDefault">Tracks Only</label>
  </div> %>
