<div class="row mt-4 p-3" data-controller="searchbar">
  <%= simple_form_for :search, url: search_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <%= f.input :query, class: 'form-control string-required', input_html: {value: ""}, :label => false %>
      <%= f.submit "Search", class: 'btn btn-secondary' %>
    </div>

  <% end %>
</div>
