<div class="modal fade" id="_<%= track[:spotify_id] %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= track.album.artist %></h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body track-body">
        <div>
          <%= track[:name] %>
        </div>
        <h2><%= track.duration %></h2>
      </div>
      <div class="modal-footer track-footer">
      <p>back</p>
      <p>delete</p>
      </div>
    </div>
  </div>
</div>
