<div class="video-wrapper">
  <%= video_tag "hero.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "hero-video" %>
  <div class="container">
    <h1 class="main-header">Sets</h1>
    <h2 class="sub-header">Your physical record collection</h2>
    <h3 class="sub-header">Organised, digitally.</h3>
    <div class="container mt-4">
      <%= link_to "Get started", new_user_registration_path, class: "btn-start" %>
    </div>
  </div>
</div>
