<div class="video-wrapper">
  <%#= video_tag "hero.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "hero-video" %>
  <%= cl_video_tag("hero_hxnatc.mp4", :quality=>100, autoplay: true, loop: true, muted: true, class: "hero-video") %>
  <div class="container">
    <h1>Sets</h1>
    <h2>Your physical record collection</h2>
    <h3>Organised, digitally.</h3>
    <div class="container mt-4">
      <%= link_to "Get started", new_user_registration_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
