<div class="container pt-3">
  <div class="row">
    <div class="col-8 mx-auto">
      <%= render 'shared/searchbar' %>
    </div>
  </div>
  <div class="container" data-controller="search-filter">
    <div class="container d-flex justify-content-center pb-3">
      <ul class="nav nav-pills">
        <li class="nav-item" role="presentation">
          <span class="nav-link active" id="pills-album-tab" data-toggle="pill" href="#pills-album" role="tab" aria-controls="pills-album" aria-selected="true" data-search-filter-target="album" data-action="click->search-filter#filter">Albums</span>
        </li>
        <li class="nav-item" role="presentation">
          <span class="nav-link" id="pills-track-tab" data-toggle="pill" href="#pills-track" role="tab" aria-controls="pills-track" aria-selected="false" data-search-filter-target="track" data-action="click->search-filter#filter">Tracks</span>
        </li>
      </ul>
    </div>
    <%# <div class="tab-content" id="pills-tabContent"> %>
      <%# <div class="tab-pane active" id="pills-album" role="tabpanel" aria-labelledby="pills-album-tab"> %>
      <div id="sresults">
      <% if params["search"].nil? %>
      <h3 id="results"> Trending This Week... </h3>
      <% else %>
      <h3 id="results"> Search Results for <%= params["search"]["query"] %>... </h3>
      <% end %>
      </div>
        <div class="container d-flex flex-wrap justify-content-evenly" id="albumsearch">
        <% @albums.each do |album| %>
          <%= render 'shared/album_card', album: album %>
        <% end %>
        </div>
      <%# </div> %>
    <%# </div> %>
    <%# <div class="tab-content" id="pills-tabContent"> %>
      <%# <div class="tab-pane" id="pills-track" role="tabpanel" aria-labelledby="pills-track-tab"> %>
        <div class="container col-6">
          <% @tracks.each do |track| %>
            <%= render 'shared/track_card', track: track %>
          <% end %>
          </div>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>
  </div>








  <%# <div class="row d-flex justify-content-center"> %>
      <%# if @albums %>
        <%# @albums.each do |album| %>
          <%#= render 'shared/album_card', album: album %>
          <%# raise %>
        <%# end %>
      <%# end %>
      <%# raise %>
      <%# if @tracks %>
        <%# <div class="col-6"> %>
          <%# @tracks.each do |track| %>
            <%#= render 'shared/track_card', track: track %>
            <%# raise %>
          <%# end %>
        <%# </div> %>
      <%# end %>
  <%# </div> %>
</div>
