<div class="container pt-3">
  <div class="row">
    <div class="col-8 mx-auto">
      <%= render 'shared/searchbar' %>
    </div>
  </div>
  <div class="container" data-controller="search-filter">
    <div class="container d-flex justify-content-center pb-3">
      <ul class="nav nav-pills">
        <li class="nav-item" role="presentation">
          <span class="nav-link active" id="pills-album-tab" data-toggle="pill" href="#pills-album" role="tab" aria-controls="pills-album" aria-selected="true" data-search-filter-target="album" data-action="click->search-filter#filter">Albums</span>
        </li>
        <li class="nav-item" role="presentation">
          <span class="nav-link" id="pills-track-tab" data-toggle="pill" href="#pills-track" role="tab" aria-controls="pills-track" aria-selected="false" data-search-filter-target="track" data-action="click->search-filter#filter">Tracks</span>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <% if params["search"].nil? %>
          <h3> Trending This Week... </h3>
        <% else %>
          <p> Search Results for <%= params["search"]["query"] %>: </p>
        <% end %>
      </div>
    </div>
    <div class="container d-flex flex-wrap justify-content-evenly">
      <% @albums.each do |album| %>
        <%= render 'shared/album_card', album: album %>
      <% end %>
    </div>
    <div class="container col-6">
      <% @tracks.each do |track| %>
        <%= render 'shared/track_card', track: track %>
      <% end %>
    </div>
  </div>
</div>
