.dash-top {
  height: 500px;


  p {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;

  }
  h2 {
    color: rgb(0, 0, 0);
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    top: 30px;
  }
}

#nname {
  padding-top: 20px;
}
.underline {
  background-color: $sets-red;
  height: 4px;
  width: 280px;
}
.dash-mid {
  justify-content: space;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FDF5E6;
}

.dash-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

#editbtn {
  position: relative;
  left: 1300px;
  top: 30px;
}

#aboutme {
  background-color: rgba(255, 246, 234, 0.9);
  top: 50%;
  left: 50%;
  height: 400px;
  width: 800px;
  border-radius: 400px 400px 0 0;
}
