.dash-top {
  height: 540px;

  p {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
}
.underline {
  background-color: $sets-red;
  height: 4px;
  width: 280px;
}
.dash-mid {
  justify-content: space;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FDF5E6;
}

.dash-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
