.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: auto;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $sets-blue;
  opacity: 0.15;
  text-decoration: none;
  font-size: 2rem;
  padding: 0px 10px;
  transition: 0.3s;
}

.footer-copy a{
  color: $sets-blue;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: $sets-red;
}
