.from-stack {
  background-color: $sets-white;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  box-shadow: 3px 4px 3px rgb(161, 161, 158);
  position: absolute;
  left: 90%;
  top: 25%;
  z-index: 2;

  h5 {
    text-align: center;
    opacity: 0.8;
    border-bottom: 1px solid $sets-blue;
    padding: 5px;
    color: $sets-blue;
  }

  li {
    list-style: none;
    color: $sets-blue;
    padding: 5px;
  }
}
