.album-img {
  width: 360px;
  height: 360px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.tracklist {
  padding-left: 1.5rem;
}

.modal-content {
  background-color: $sets-off-white;
  border-radius: 0.5rem;
}

.modal-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.modal-header {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid $sets-off-white;
}

.modal-body {
  p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  h2 {
    color: $sets-blue;
  }
  h3 {
    opacity: 0.7;
    color: $sets-blue;
  }
}
