.album-img {
  width: 360px;
  height: 360px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.tracklist {
  padding-left: 1.5rem;
}

.modal-content {
  background-color: $sets-off-white;
  border-radius: 0.5rem;
}
