.navbar-lewagon {
  justify-content: space-between;
  background: $sets-blue;
  padding: 0.5rem 1rem;
  color: $sets-white;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: $sets-white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 0.5rem 1rem;

  &:hover {
    color: $sets-lt-blue;
  }
}

#bell {
  margin-right: 25px;
  align-items: center;
}


.navbar-nav {
  align-items: center;
  display: flex;
}
