.page {
  position: relative;
}


#setlistcontainer {
  margin-top: 50px;
  background-color: $sets-white;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  box-shadow: 3px 4px 3px rgb(161, 161, 158);
  z-index: 1;
  position: relative;
  bottom: -70px;
  left: 30px;
}

.elementscont {
  display: flex;
  width: 100%;
}

.setlistcreator {
  text-align: center;
  opacity: 0.8;
  border-bottom: 1px solid $sets-blue;
  padding: 5px;
  color: $sets-blue;
}


.setlistname {
  margin-top: 5px;
  text-align: center;
  color: $sets-blue;
}

#somecontainer {
  text-align: center;
  margin-top: 100px;
}

#trkyes {
  color: $sets-blue;
  padding: 5px;
}

#trkno {
  color: $sets-lt-blue;
  padding: 5px;
}

.bground {
  background-color: rgb(144, 175, 178);
  height: 300px;
  position: relative;
}

.stack-cards {
  margin-top: 100px;
  position: relative;
  // left: 90%;
  // top: 25%;
  z-index: 1;
  left: 100px;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
  display: none;
}
