.user-card {
  display: flex;
	background-color: $sets-white;
	border-radius: 4px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	color: $sets-blue;
	padding-top: 30px;
  padding-bottom: 30px;
	width: 540px;
  margin: 1rem;
  align-items: center;
  p {
    font-size: 1.25rem;
    line-height: 21px;
  }
}

.user-img {
  padding: 1rem;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.3s;
  }
  &:hover {
    img {
      transform: scale(1.1);
      filter: brightness(110%);
    }
  }
}

.user-info {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 1.5rem;
    line-height: 21px;
  }
  h6 {
    font-size: 1rem;
    line-height: 21px;
  }
}

.user-social {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.user-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
