
h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.user-card {
	background-color: $sets-blue;
	border-radius: 4px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	color: $sets-white;
	padding-top: 30px;
  padding-bottom: 30px;
	position: relative;
	width: 300px;
	max-width: 100%;
	text-align: center;
}
