#user_card {
  h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: $sets-blue;
  }
  p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: $sets-gray;
  }
  &:hover {

  }
}
// add a glass effect to the user card
